<section class="home">
<section class="homepage01">
  <img [src]="backgroundImages[currentIndex]">
  <div class="overlay">
    <p>{{ head }}</p>
    <p [class.fade-out]="changingTextFadeOut" class="changing-text">{{ changingText }}</p>
    <div class="interfaceButton">
    <a mat-stroked-button href="" routerLink="/signup">Get Started</a>
    <a mat-stroked-button href="" routerLink="/properties">Properties</a>
    </div>
    <div class = "indicator" (click) = "scrollDown()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>

<section class="homepage02">
  <div class="about">
    <img src="../assets/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg">
    <div class="about-description">
      <p style="font-size: 30px; font-weight: 500;">About</p>
      <p style="font-weight: 300;">
        ELEVATED PROPERTY MANAGEMENT.
      </p>
      <p>
        {{ about1 }}
      </p>
      <p>
       {{ about2 }}
      </p>
    </div>
  </div>
</section>
<section class="homepage03">
  <div class = "management-head">
  <h2>MANAGEMENT SERVICES</h2>
  <h3>OWNERSHIP WITHOUT THE HASSLE</h3>
  </div>
  <div class = "management-body">
    <div>
      <h4><fa-icon [icon]="icon01"></fa-icon> RENT INVOICING</h4>
      <p>{{ rent }}</p>
    </div>
    <div>
      <h4><fa-icon [icon]="icon02"></fa-icon> RENT COLLECTION</h4>
      <p>{{ rentcollec }}</p>
    </div>
    <div>
      <h4><fa-icon [icon]="icon03"></fa-icon> EXPENSES</h4>
      <p>{{ expenses }}</p>
    </div>
    <div>
      <h4><fa-icon [icon]="icon04"></fa-icon> REPAIR & MAINTENANCE</h4>
      <p>{{ randm }}</p>
    </div>
    </div>
</section>
<section class="homepage04">
<div class="contact">
  <div class="left-content">
    <input class="input-field" type="text" placeholder="First & Last Name"><br>
    <input class="input-field" type="email" placeholder="Email"><br>
    <input class="input-field" type="tel" placeholder="Phone"><br>
    <textarea class="input-field" placeholder="Describe your property needs"></textarea><br>
    <a mat-stroked-button href="">Submit</a>
  </div>
  <div class="right-content">
    <h3 class="input-field-description">GET IN TOUCH</h3><br>
    <p>Let's chat about your real estate management needs.</p>
  </div>
  <img src="../assets/czapp-botond-Yc2Q1I8Hazw-unsplash.jpg">
  <div class = "text-overlay">
    <h3>LEAVE A MESSAGE</h3>
  </div>
</div>
</section>
</section>